<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blog.mapper.FilterMapper">
	<select id="search" resultType="VideoBoard">
		select * from videoboard where boardSubject like CONCAT('%',#{keyword},'%') order by boardId desc
	</select>
	
	<select id="filter" parameterType="String" resultType="VideoBoard">
		select * from videoboard where bandId in
		(select bandId from band where genre=#{genre} and color=#{color})
		order by boardId desc;
	</select>
</mapper>