<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blog.mapper.LikeMapper">

	<insert id="addlike" parameterType="LikeReq">
		insert into likeboard values(null, #{memberId}, #{boardId})
	</insert>
	
	<delete id="unlike" parameterType="String">
		delete from likeboard where likeId=#{likeId}
	</delete>
	
	<select id="getlikeById" parameterType="LikeReq" resultType="Like">
		select * from likeboard where memberId=#{memberId} and boardId=#{boardId}
	</select>
	
	<select id="likelist" parameterType="String" resultType="java.util.Map">
		select bandId,img,name from band where bandId in(select bandId from follow where memberId=#{memberId})
	</select>
	
</mapper>