<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blog.mapper.VideoBoardMapper">
	
	<insert id="writevideo" parameterType="VideoBoardReq">
		insert into videoboard values(null, #{boardSubject}, #{boardContent}, now(), #{boardVideoUrl}, #{boardThumbnail}, 0, 0, #{bandId})
	</insert>
	
	<select id="videoboardlist" resultType="java.util.Map">
		select videoboard.boardId, 
			   videoboard.boardSubject, 
			   videoboard.boardContent, 
			   videoboard.boardDate, 
			   videoboard.boardVideoUrl, 
			   videoboard.boardThumbnail, 
			   videoboard.boardView, 
			   videoboard.boardLike, 
			   videoboard.bandId, 
			   band.img 
			   from videoboard,band 
			   where videoboard.bandId=band.bandId;
	</select>
	
	<select id="readvideo" resultType="VideoBoard">
		select * from videoboard where boardId=#{boardId}
	</select>
	
	<update id="countup">
		update videoboard set boardView=(select boardView from videoboard where boardId=#{boardId})+1 where boardId=#{boardId};
	</update>
	
	<delete id="delvideo">
		delete from videoboard where boardId=#{boardId};
	</delete>
	
	<delete id="dellike">
		delete from likeboard where boardId=#{boardId};
	</delete>
	
	<update id="changevideo">
		update videoboard set boardSubject=#{boardSubject}, boardContent=#{boardContent} where boardId=#{boardId};
	</update>
	
	<update id="settime">
		set time_zone ='Asia/Seoul';
	</update>
	
	<select id="videoboardrankingview" resultType="java.util.Map">
		select videoboard.boardId, 
			   videoboard.boardSubject, 
			   videoboard.boardThumbnail, 
			   videoboard.boardView, 
			   videoboard.boardLike,
			   band.img 
			   from videoboard,band 
			   where videoboard.bandId=band.bandId
			   order by boardView desc;
	</select>
	
	<select id="videoboardrankinglike" resultType="java.util.Map">
		select videoboard.boardId, 
			   videoboard.boardSubject, 
			   videoboard.boardThumbnail, 
			   videoboard.boardView, 
			   videoboard.boardLike,
			   band.img 
			   from videoboard,band 
			   where videoboard.bandId=band.bandId
			   order by boardLike desc;
	</select>
	
	<select id="videoboardrankingrookie" resultType="java.util.Map">
		select videoboard.boardId, 
			   videoboard.boardSubject, 
			   videoboard.boardThumbnail, 
			   videoboard.boardView, 
			   videoboard.boardLike,
			   band.img 
			   from videoboard,band 
			   where videoboard.bandId=band.bandId and band.debut <![CDATA[<]]>TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-5
			   <!-- 현재 년도 기준 5년 전 데뷔 밴드까지 -->
			   order by boardLike desc;
	</select>
	
	<select id="videoboardrankingdaily" resultType="java.util.Map">
		select v.boardId, 
			   v.boardSubject, 
			   v.boardThumbnail, 
			   v.boardView, 
			   v.boardLike,
			   b.img 
			   from videoboard v,band b
			   where v.bandId=b.bandId and 
			   <![CDATA[
			   WHERE CAST(LOG_TIME AS CHARACTER VARYING) >= (#{fromDate}||'00:00:00') 
			   AND CAST(LOG_TIME AS CHARACTER VARYING) <= ( #{toDate}||'23:59:59') 
			   ]]>
			   order by boardView desc;
	</select>
</mapper>